<h2>my players</h2>
<ul class="players">
  <div class="dropdownholder">


<div class="form2">
  <mat-form-field>
  <mat-label>Select team</mat-label>
  <mat-select>
    <mat-option *ngFor="let team of teams" [value]="team.name">
      {{team.full_name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
</div>
<mat-form-field>
  <mat-label>Select position</mat-label>
  <mat-select>
    <mat-option *ngFor="let position of positions" [value]="position.value">
      {{position.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<li *ngFor = "let player of players">
  <a routerLink="/detail/{{player.id}}">
    <span class="badge">{{player.id}}</span> {{player.name}}
  </a>
</li>

</ul>
