<h2>Select players</h2>
<ul class="squad-selector">
  <div class="dropdownholder">
  <mat-form-field>
  <mat-label>Select team</mat-label>
  <mat-select [(ngModel)]="selectedTeam"  (valueChange)="refreshPlayers($event)">
    <mat-option *ngFor="let team of teams" [value]="team" >
      {{team.full_name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Select position</mat-label>
  <mat-select [(ngModel)]="selectedPos" (valueChange)="refreshPosition($event)">
    <mat-option *ngFor="let position of positions" [value]="position.value">
      {{position.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Select player</mat-label>
  <mat-select [(ngModel)]="selectedPlayer" (valueChange)="refreshPlayer($event)">
    <mat-option *ngFor="let player of players" [value]="player">
      {{player.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
   <button class="select-player"
	  (click)="updateSquad()">Add player</button>
  </div>
  <div>
    <label>OR enter FPL team ID:
    <input [(ngModel)]="team_id" placeholder="Team ID"/>
    </label>
       <button class="select-team"
	  (click)="fillSquad(team_id)">Submit</button>
  </div>
  <div>
    <button class="reset-team"
 (click)="resetSquad()">Reset</button>
  </div>
</ul>
